.connect{
    margin-left: 30px;
    background-color: red !important;
    border-radius: 20px !important;
    color: black !important;
}

.nav-item a{
    color: black;
    font-weight: bold;
}
.logo{
    width: 60px;
}

.navbar-brand{
    color: red !important;
    font-weight: bolder;
}

.carousel-inner img{
    width: 100px;
    height: 450px;
}